{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You have been randomly and anonymously paired other players in the lab. Each
        of you will be given {{ Constants.base_pay }} to start and one of you will be assigned
        to act as the role of a customer and the blahblah blah
    </p>

    <p>
        Your payoff from the study is the initial {{ Constants.base_pay }} plus any bonuses you
        receive.
    </p>
</div>
