{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Role Comprehension Questions
{% endblock %}

{% block content %}
    <p>
    Please answer the comprehension questions to ensure that you understand your role as a Customer.
    </p>
    <br>
    {% formfield player.compre_customerbonus with label="1. How will the Company's bonus payment be determined?" %}

    {% formfield player.compre_youchoose with label="2. How will you determine which 5 workers you would like to base their bonus payment on?" %}

    {% formfield player.compre_roundpayment with label="3. Which round determines payment?" %}

    {% formfield player.compre_changerounds with label="4. Will you be able to change your worker choices for each of the 10 rounds?" %}



    {% next_button %}

{% endblock %}
