{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <p>
There are 10 potential workers, identified by 3 personal characteristics that they have disclosed: age, gender, and hobby.
</p>
<p>
        For example, a 20-year old male worker who reported running as a hobby will be referred to as <20, M, running> for the entirety of this study.
    </p>
<br>
    <p>
All 10 workers were recruited before this study was launched to ensure that the personal details are real. Your choice of workers directly affects which workers are paid. The workers that you choose to hire will be re-contacted and paid a wage after the completion of this study session. The workers that you do not choose will not receive any wage.
</p>


    {% include Constants.instructions_template %}

</div>
{% next_button %}
{% endblock %}
