{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <p>
However, you cannot hand select the workers. You must choose 1 Company out of 3, each of which is comprised of 5 workers. Therefore before you select a Company, each participant assigned the role of Company will select 5 workers out of 10 to comprise of its Company. Then, you will be shown the Companies decisions, and you will select your preferred Company.    </p>
    <p>
Companies are paid a bonus based on how many customers it is chosen by;
        therefore Companies must try to figure out which workers Customers prefer as <b>it is
        in the Company’s best interest to select the 5 workers that they believe seem most
        appealing for the Customer. </b>   </p>
    <br>
    <p>
There will be 10 identical rounds, as presented in the figure below. For each round, roles will stay the same but choices can change. At the end of each round, Companies will be shown other Companies’ profiles and how many Customers chose each, which can help Companies create better Companies in the next round.
    </p>
    <p>
        A single random round will be chosen to determine the bonus payment. The outcomes in that randomly selected round will be implemented and will determine all players’ bonus payments.
    </p>
    <p>
        For your convenience, this diagram of the steps will be at the bottom of each page in this study:
    </p>
    {% include Constants.instructions_template %}

</div>
{% next_button %}
{% endblock %}
