
{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}


{% block title %}Sample Math Questions{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
    </h3>

    <p>
        The advanced math quiz taken by the workers were of similar difficulty to these sample math questions.
    </p>
    <br>

    <img src="{% static "my_principal_agent/GRE_Math1.jpg" %}" style="width:500px;"/>
    <br>
    <br>
    <br>
    <br>
    <img src="{% static "my_principal_agent/GRE_Math2.jpg" %}" style="width:500px;"/>





</div>
{% next_button %}
{% endblock %}

