{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Thank you for completing the study!
{% endblock %}

{% block content %}

    <p>
        The seventh round was chosen to determine payment.

        {% if player.role == 'customer' %}
            You chose <strong>Company {{ player.customer_choose_company }}</strong>. <br>
            Based on your workers' performance, your bonus payment is {{ player.payoff }}.
        {% elif player.is_chosen %}
            In the seventh round, {{ player.chosen_number }} customers <strong>chose</strong> your company.<br>
            Therefore your bonus payment is {{ player.payoff }}.
        {% else %}
            In the seventh round, customers <strong>did not choose</strong> your company.<br>
            Therefore your bonus payment is {{ player.payoff }}.
        {% endif %}
    </p>



<br>



    <p>{% next_button %}</p>



{% endblock %}
