{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="instructions well well-lg">

    <p>
        Here are the 10 potential workers.
        <br>
    In the next page, you will select 5 of these workers, which will determine which 7 workers will comprise of your Company.
        <br>
        This table of potential workers will be displayed at the bottom of each following page should you want to refer to it later.
    </p>


        {% include Constants.all_workers_template %}




</div>
{% next_button %}
{% include Constants.instructions_template %}

{% endblock %}
